themes {
  catppuccin-latte {
    bg "#acb0be"
    fg "#4c4f69"
    red "#d20f39"
    green "#40a02b"
    blue "#1e66f5"
    yellow "#df8e1d"
    magenta "#ea76cb"
    orange "#fe640b"
    cyan "#04a5e5"
    black "#e6e9ef"
    white "#4c4f69"
  }

  catppuccin-frappe {
    bg "#626880"
    fg "#c6d0f5"
    red "#e78284"
    green "#a6d189"
    blue "#8caaee"
    yellow "#e5c890"
    magenta "#f4b8e4"
    orange "#ef9f76"
    cyan "#99d1db"
    black "#292c3c"
    white "#c6d0f5"
  }

  catppuccin-macchiato {
    bg "#5b6078"
    fg "#cad3f5"
    red "#ed8796"
    green "#a6da95"
    blue "#8aadf4"
    yellow "#eed49f"
    magenta "#f5bde6"
    orange "#f5a97f"
    cyan "#91d7e3"
    black "#1e2030"
    white "#cad3f5"
  }

  catppuccin-mocha {
    bg "#585b70"
    fg "#cdd6f4"
    red "#f38ba8"
    green "#a6e3a1"
    blue "#89b4fa"
    yellow "#f9e2af"
    magenta "#f5c2e7"
    orange "#fab387"
    cyan "#89dceb"
    black "#181825"
    white "#cdd6f4"
  }
}
